/* fonts */
@import "./fonts.css";

/* variables */
@import "./variable.css";

/* initial-style */
@import "./initial-style.css";

/* container */

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 8rem;
  position: relative;
}

/* button styles */
.btn-type-one {
  font-family: "Poppins";
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 3rem;
  color: var(--second-text-color);
}
.btn-type-two {
  font-family: "Poppins";
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 3rem;
  color: var(--main-text-color);
  padding: 1rem 1.5rem;
  background-color: var(--second-color);
  border-radius: 1rem;
}
.btn-type-three {
  font-family: "Poppins";
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 3rem;
  color: var(--second-text-color);
  padding: 1rem 1.5rem;
  background-color: transparent;
  border: 1px solid var(--second-text-color);
  border-radius: 1rem;
}
.large-btn {
  padding: 1.5rem 6rem;
  border-radius: 1rem;
}
.extra-large-btn {
  padding: 2rem 7rem;
  font-size: 2rem;
}
/* navbar start */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
}
.logo {
  width: 16rem;
  height: 5rem;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.nav-item {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
  color: var(--second-text-color);
}
.active {
  color: var(--second-color);
}
.burger {
  display: none;
}
.buttons-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
}
.dropdown-content a {
  color: black;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  border-radius: 0.5rem;
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 0.5rem;
}

/* hero start */

.hero {
  margin-top: 7rem;
}
.hero-main-div-first-text {
  text-align: center;
  margin: 0 auto;
  max-width: 550px;
  font-family: "Poppins";
  font-size: 3rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: var(--main-text-color);
  margin-bottom: 5rem;
}
h1 {
  font-family: "Poppins";
  font-size: 9rem;
  font-weight: 700;
  line-height: 10rem;
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 10rem;
}
h1 span {
  background-size: 100%;
  background-repeat: repeat;
  background: linear-gradient(
    90deg,
    rgb(254, 103, 131) 1.9%,
    rgb(255, 191, 132) 97.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.hero-main-div-second-text {
  margin-top: 1.5rem;
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.8rem;
  color: var(--second-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.hero-main-div-second-text span {
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.8rem;
  color: var(--main-text-color);
}

/* main start */

main {
  margin-top: 15rem;
}

/* love marico */

.creators-love-marico {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.creators-love-marico__container_item__main__emoji {
  width: 3rem;
  height: 3rem;
}
.creators-love-marico_main-text {
  font-family: "Poppins";
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 11rem;
  color: var(--main-text-color);
  margin-bottom: 4rem;
  text-align: center;
}
.creators-love-marico__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.creators-love-marico__container_item__main {
  font-family: "Poppins";
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.creators-love-marico__container_item__description {
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: var(--second-text-color);
}

/* first step */

.first-step {
  margin-top: 15rem;
}
.first-step__first-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.guide {
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--second-color);
}
.first-step__first-section_main-text {
  font-family: "Poppins";
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 8rem;
  color: var(--main-text-color);
  text-align: center;
}
.first-step__first-section_main-text-desc {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 4rem;
  color: var(--second-text-color);
  max-width: 92rem;
  text-align: center;
  margin-bottom: 2rem;
}
.first-step__second-section {
  margin-top: 18rem;
  display: flex;
}
.first-step__second-section h3 {
  font-family: "Poppins";
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 8rem;
  color: var(--main-text-color);
  margin-bottom: 3rem;
}
.buttons-group-start {
  justify-content: start;
  align-items: start;
}
.first-step__second-section__left-section__topic {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 4rem;
  color: var(--main-text-color);
  margin-bottom: 8rem;
}
.marked-text {
  color: var(--second-color);
}
.bullet-container {
  font-family: "Poppins";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: var(--main-text-color);
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}
.bullet {
  width: 3rem;
  height: 3rem;
  background-color: rgb(45, 45, 45);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bullet-container-last {
  margin-bottom: 6rem;
}
.first-step__second-section__right-section-image {
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  max-width: 80rem;
}

/* second step */

.second-step {
  margin-top: 25rem;
}
.second-step__first-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.second-step__first-section_main-text {
  font-family: "Poppins";
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 8rem;
  color: var(--main-text-color);
  text-align: center;
}
.second-step__first-section_main-text-desc {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 4rem;
  color: var(--second-text-color);
  max-width: 75rem;
  text-align: center;
  margin-bottom: 2rem;
}
.second-step__second-section {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}
.second-step__second-section__container {
  background-color: #0d0d0d;
  width: 50%;
  padding: 3rem;
}
.second-step__second-section__container h3 {
  font-family: "Poppins";
  font-size: 7rem;
  font-weight: 600;
  line-height: 9rem;
  color: var(--second-text-color);
}
.second-step__second-section__container__topic {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 4rem;
  color: var(--third-text-color);
}
.marked-white {
  color: var(--main-text-color);
}
.second-step__second-section__container__image {
  width: 100%;
  position: relative;
  left: 3rem;
  top: 3rem;
}
.second-step__btn-container {
  margin-top: 5rem;
  text-align: center;
}

/* third step */

.third-step {
  margin-top: 15rem;
}
.third-step__first-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.third-step__first-section_main-text {
  font-family: "Poppins";
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 8rem;
  color: var(--main-text-color);
  text-align: center;
}
.third-step__first-section_main-text-desc {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 4rem;
  color: var(--second-text-color);
  max-width: 92rem;
  text-align: center;
  margin-bottom: 2rem;
}
.third-step__second-section {
  margin-top: 18rem;
  display: flex;
}
.third-step__second-section h3 {
  font-family: "Poppins";
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 8rem;
  color: var(--main-text-color);
  margin-bottom: 3rem;
}
.third-step__second-section__left-section__topic {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 4rem;
  color: var(--main-text-color);
  margin-bottom: 8rem;
}
.third-step__second-section__right-section-image {
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  max-width: 80rem;
}

/* exports agree */

.exports-agree {
  margin-top: 25rem;
}
.exports-agree h3 {
  font-family: "Poppins";
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 8rem;
  color: var(--main-text-color);
  margin-bottom: 4rem;
  text-align: center;
}
.exports-agree__image {
  width: 100%;
}

/* helped info */

.helped-info {
  margin-top: 18rem;
  height: 100vh;
  background-image: url(../img/helped-image-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.helped-info h3 {
  font-family: "Poppins";
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 8rem;
  color: var(--main-text-color);
  margin-bottom: 4rem;
  text-align: center;
  max-width: 122rem;
  padding: 2rem;
}

/* media responsive */
@media (max-width: 1430px) {
  .first-step__second-section__right-section-image {
    max-width: 60rem;
  }
  .third-step__second-section__right-section-image {
    max-width: 60rem;
  }
}
@media (max-width: 1220px) {
  .burger {
    display: block;
  }
  .nav-list {
    display: none;
  }
  .first-step__second-section__right-section-image {
    max-width: 50rem;
  }
  .third-step__second-section__right-section-image {
    max-width: 50rem;
  }
}
@media (max-width: 1120px) {
  h1 {
    font-size: 7rem;
    font-weight: 700;
    line-height: 8rem;
  }
  .first-step__second-section {
    margin-top: 5rem;
  }
  .third-step__second-section {
    margin-top: 5rem;
  }
  .first-step__second-section h3 {
    font-size: 5.5rem;
    line-height: 8rem;
  }
  .helped-info h3 {
    font-size: 5.5rem;
    line-height: 8rem;
  }
  .exports-agree h3 {
    font-size: 5.5rem;
    line-height: 8rem;
  }
  .third-step__second-section h3 {
    font-size: 5.5rem;
    line-height: 8rem;
  }
  .bullet-container {
    font-size: 1.5rem;
  }
  .creators-love-marico_main-text {
    font-size: 5.5rem;
    line-height: 8rem;
  }
  .first-step__first-section_main-text {
    font-size: 5.5rem;
    line-height: 8rem;
  }
  .third-step__first-section_main-text {
    font-size: 5.5rem;
    line-height: 8rem;
  }
  .creators-love-marico__container_item__main {
    font-size: 2.5rem;
  }
  .creators-love-marico__container {
    gap: 4rem;
  }
  .first-step__second-section__right-section-image {
    position: static;
    transform: none;
  }
  .second-step {
    margin-top: 15rem;
  }
  .exports-agree {
    margin-top: 15rem;
  }
  .third-step__second-section__right-section-image {
    position: static;
    transform: none;
  }
  .first-step__second-section {
    flex-direction: column-reverse;
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }
  .third-step__second-section {
    flex-direction: column-reverse;
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }
  .second-step__first-section_main-text {
    font-size: 5.5rem;
    line-height: 8rem;
  }
  .second-step__first-section_main-text-desc {
    font-size: 2rem;
  }
  .second-step__second-section__container h3 {
    font-size: 6rem;
    line-height: 8rem;
  }
  .second-step__second-section__container__topic {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (max-width: 916px) {
  h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 8rem;
  }
  .btn-type-one {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .btn-type-two {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .btn-type-three {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .hero-main-div-second-text {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .hero-main-div-second-text span {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .hero-main-div-first-text {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3.5rem;
  }
  .large-btn {
    padding: 1.2rem 5rem;
    border-radius: 1rem;
  }
  .extra-large-btn {
    padding: 1.5rem 6rem;
    font-size: 1.8rem;
  }
  .creators-love-marico_main-text {
    font-size: 4.5rem;
    line-height: 8rem;
  }
  .first-step__first-section_main-text {
    font-size: 4.5rem;
    line-height: 8rem;
  }
  .third-step__first-section_main-text {
    font-size: 4.5rem;
    line-height: 8rem;
  }
  .creators-love-marico__container_item__main {
    font-size: 2rem;
  }
  .second-step__second-section {
    flex-direction: column;
    gap: 5rem;
  }
  .second-step__second-section__container {
    width: 100%;
  }
  .second-step__second-section__container h3 {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  .helped-info h3 {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  .second-step__first-section_main-text {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  .third-step__second-section h3 {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  .exports-agree h3 {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  .first-step__second-section h3 {
    font-size: 4.5rem;
    line-height: 5rem;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0 2rem;
  }
}
@media (max-width: 550px) {
  .creators-love-marico__container {
    flex-wrap: wrap;
  }
  .first-step__second-section__right-section-image {
    max-width: 300px;
  }
  .third-step__second-section__right-section-image {
    max-width: 300px;
  }
}
@media (max-width: 340px) {
  .container {
    padding: 1rem;
  }
  .burger {
    position: absolute;
    left: 1rem;
  }
  nav {
    padding: 2rem 0;
    justify-content: center;
  }
  .nav-btn-group {
    display: none;
  }
}
@media (max-width: 300px) {
  .first-step__second-section__right-section-image {
    max-width: 180px;
  }
  .third-step__second-section__right-section-image {
    max-width: 180px;
  }
}
